body{
    background-image: url('../Icons/Landscape/Sky_1.png');
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
}
.Icon_404{
    float:left;
}
.salutation{
    width: 200px;
}
table{
    border-collapse: collapse;
}
.birds_class{
    vertical-align: top;
}
img{
    overflow-clip-margin: 75px;
    top: auto;
    display: block;
    overflow: hidden;
}
table td{
    margin: 0;
    width: 75px;
    border-spacing:0;
    padding: 0;
    border-collapse: collapse;
}


